#layout1 {
  width : 300;
  margin-left : 220;
}

#layout2 {
  float : right;
  margin-right : 100;
}

#layout3 {
  width : 300;
  margin-left : 120;
}

#tot {
    height : 100%;
}
#head {
    height : 30%;
    background-color: gray;
}
#body {
    height : 70%;
    background-color: lightgray;
}
/*head css file */
.btn {
    margin-left : 50;
}
#text {
    margin-left : 100;
    margin-right : 0;
}
h4:hover {
  color : lightgreen;
}
/*End of head file */
